1. Importing the libraries

In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns, os

Setting up display options

In [2]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)

2. Reading the data

In [3]:
PROJECT_DIR  = "/Users/abhisheksaurav/Desktop/real_estate_project/"
DATA_DIR = "Data Collection/Data/City/chandigarh/cleaned_data"

In [4]:
def get_data(name):
    file_name = "{}.csv".format(name)
    file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
    return pd.read_csv(file_path)

In [5]:
data = get_data("gurgaon_properties")

In [6]:
data.sample(3)

,property type,society,sector,price,price_per_sq_ft,bedRoom,bathroom,balcony,floorNum,agePossession,built_up_area,study room,servant room,store room,pooja room,others,furnishing_type,luxary_score
2227,flat,vidya apartment,sector 5,0.22,4207.0,2.0,2,1,1.0,Relatively New,570.0,0,0,0,0,1,1,36
377,house,independent,sector 4,0.37,9391.0,1.0,1,No,3.0,Moderately Old,394.0,0,0,0,0,0,0,0
2461,house,independent,sector 43,5.50,28424.0,1.0,1,No,1.0,Old Property,1935.0,0,0,0,0,1,0,12