1. Importing libraries

In [1]:
import numpy as np, pandas as pd, os

2. Reading the data

In [2]:
PROJECT_DIR  = "/Users/abhisheksaurav/Desktop/real_estate_project/"
DATA_DIR = "Data Collection/Data/City/chandigarh/cleaned_data"

In [3]:
def get_data(name):
    file_name = "{}.csv".format(name)
    file_path = os.path.join(PROJECT_DIR, DATA_DIR, file_name)
    return pd.read_csv(file_path)

In [4]:
df = get_data("merged_data")

In [5]:
df.head()

,property_name,property type,society,price,price_per_sq_ft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 109 Gurgaon,flat,ats kocoon,1.70,9742.0,1745.0,Super Built up area 1745(162.12 sq.m.)Built Up...,3,3,3,not available,"Sector 109 Gurgaon, Gurgaon, Haryana",22.0,east,1 to 5 Year Old,"['Jagdish Super Market', 'Dwarka', 'Euro Inter...",This is a north-East facing ready to move-In 1...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of..."
1,2 Bedroom House for sale in Sector 36 Sohna,house,independent,0.66,7168.0,921.0,Built Up area: 823 (76.46 sq.m.),2,2,3,not available,"Signature Global Park Iii, Sector 36 Sohna, Gu...",4.0,NaN,0 to 1 Year Old,NaN,Corner unit & 2 bhk independent floor for sale...,NaN,NaN,NaN
2,2 BHK Flat in Sohna,flat,gls arawali homes,0.28,4938.0,567.0,Super Built up area 567(52.68 sq.m.)Built Up a...,2,2,2,not available,"Sohna, Gurgaon, Haryana",3.0,east,1 to 5 Year Old,"['Huda City Centre', 'Golf Course Road', 'Delh...",Greenary area with parks and walking area whic...,"['3 Fan', '1 Exhaust Fan', '4 Light', '2 Curta...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Management4 out of 5', 'Green Area5 out of 5..."
3,1 BHK Flat in Sector 36 Gurgaon,flat,breez global heights,0.24,5825.0,412.0,Carpet area: 412 (38.28 sq.m.),1,1,1,not available,"Sector 36 Gurgaon, Gurgaon, Haryana",8.0,na,0 to 1 Year Old,"['S.R.S. Hospital and Critical Care Unit', 'Sh...",Residential apartment for sell.The property ha...,"['1 Wardrobe', '2 Fan', '1 Exhaust Fan', '5 Li...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...",NaN
4,6 Bedroom House for sale in Sector 46 Gurgaon,house,rwa sector 46,4.50,24390.0,1845.0,Plot area 204(170.57 sq.m.)Built Up area: 206 ...,6,6,3+,store room,"8 Marla Built Up As Bmt, Gf,ff, 6bhk Demand-4....",3.0,North-East,5 to 10 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",Looking for a independent house in gurgaon's p...,"['5 Wardrobe', '1 Water Purifier', '13 Fan', '...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment4 out of 5', 'Safety4 out of 5', ..."

3. Preliminary analysis of the data

In [10]:
(
    df 
    .shape
)

(3942, 20)

In [11]:
(
    df 
    .info()
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3942 entries, 0 to 3941
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3942 non-null   object
 1   property type    3942 non-null   object
 2   society          3941 non-null   object
 3   price            3922 non-null   float64
 4   price_per_sq_ft  3922 non-null   float64
 5   area             3922 non-null   float64
 6   areaWithType     3942 non-null   object
 7   bedRoom          3942 non-null   int64
 8   bathroom         3942 non-null   int64
 9   balcony          3942 non-null   object
 10  additionalRoom   3942 non-null   object
 11  address          3931 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           3651 non-null   object
 14  agePossession    3941 non-null   object
 15  nearbyLocations  3736 non-null   object
 16  description      3942 non-null   object
 17  furnishDetails   2913 non-null   object
 18  features         3241 non-null   object
 19  rating           3496 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 616.1+ KB

In [12]:
(
    df 
    .isnull() 
    .sum()
)

property_name         0
property type         0
society               1
price                20
price_per_sq_ft      20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum              2
facing              291
agePossession         1
nearbyLocations     206
description           0
furnishDetails     1029
features            701
rating              446
dtype: int64

4. Detailed analysis

5. Data cleaning

In [ ]:
def clean_data(data):
    return df (

        
    )